.background-1 {
  background: url("../imagenes/menu/fondo-maths-atacks.svg")no-repeat center / cover;
  
}
body {
  overflow-x: hidden
}

.logo-start {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
}

body button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  color: rgb(255, 255, 240);
}

.flex-container{
  display: none;
  width: 100%;
  height: 100vh;
  background-color:  #F2E7C2 

}

#left {
  width: 30%;
  padding-right: 30px;
}

.logo-peque {
  margin-top: 30px; 
  width: 300px;
  display: block;
  margin-left: 30px

}
.operation-container {
  
  background-image: url("../imagenes/menu/fondo-operaciones.png");
  background-size: 100% 100%;
  background-repeat: no-repeat
 
}

#operation {
 
  font-family: "Roboto";
  font-size : 3.8em;
  margin-top: 60px;
  padding: 30px;
  color: #EE6329;
  text-align: center;
  
}

.instructions {
  margin-top: 60px;

}

#right {
  width: 30%;
  padding-left: 30px;  
}

.flexy {
  margin: 0 auto;
  display:flex;
  width: 80%;
}

.rocket {
  display: inline-block;

  width: 200px;
  margin-left: 130px;
}



.score {
  width: 200px;
  height: 100px;
  margin-top: 90px;
 margin-left: 40px;
 background-image: url("../imagenes/menu/huevito-score.svg");
 background-size: 100% 100%
 
}

.level {
  width: 200px;
  height: 100px;
  margin-top: 90px;
 background-image: url("../imagenes/menu/level.svg");
 background-size: 100% 100%
}

#score, #level {
  text-align: center;
  font-family: "Roboto";
  font-size: 3.4em;
  font-weight: 200;
  color: #F2E7C2;
}

  #level {
    margin-top:20px;
  }
  

.mandos-img {
  width: 100%;
  height: 300px;
}

.background-2 {
  background-color: #F2E7C2;
}

#play {
  width: 20%;
  position: absolute;
  top: 400px;
  left: 100px;
}


.display {
  display: none;
}

#you-lost {
  width: 400px;
  display:none;
  position:absolute;
  top: 200px;
  left: 500px;
/*   animation: flotar .8s ease-in infinite;
 */

}
#play-lost, #play-win {
  width: 150px;
  display:none;
  position: absolute;
  top: 350px;
  left: 550px
}
#you-win {
  width: 400px;
  display:none;
  position:absolute;
  top: 200px;
  left: 500px;
}

/* @keyframes flotar {
  from {
    width: 200px;
  }

  to {
    width: 500px;
  }
  from {
    position:absolute;
    top: 200px;
    left: 600px;
  }
  to {
    position: absolute;
    top: 200px;
    left: 500px;
  }
  from {
    filter: brightness(1)
  }
  to {
    filter: brightness(1.1);
  }
}
 */